body {
    padding-top: 50px;
}


/*
 * Please wait view
 */

.please-wait .modal {
    position: inherit;
}

/*
 * Login page
 */

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}


.form-signin .form-signin-heading {
    text-align: center;
    margin-bottom: 20px;
}

.form-signin .form-control {
    position: relative;
    /*height: auto;*/
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin .form-group {
    margin-bottom: 5px;
}

.form-signin select {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin .form-group {
    margin-top: 10px;
    text-align: right;
}

/*
 * Home page
 */

.home-page {
    padding-top: 20px;
}

.project-list {
    padding-left: 0;
}

.project-list li {
    list-style: none;
    float: left;
    margin: 10px 10px 0 0;
    width: 220px;
    height: 105px;
}

.project-list > li > a {
    width: 220px;
    height: 105px;
    display: block;
    padding-bottom: 10px;
    text-align: left;
    overflow: hidden;
}

.project-list > li > a > span {
    padding: 0 0 5px 0;
    display: inline-block;
    text-align: left;
    white-space: normal;
}

.project-list > li > a > span > i {
    margin-right: 5px;
}

.project-list > li > a > small {
    display: block;
    text-align: left;
    white-space: normal;
}

.footer {
    clear: both;
    padding-top: 2em;
}

/*
 * Project CRUD
 */

 .date-input input {
    max-width: 150px;
}

.data-table {
    width: 100%;
}
.data-table.large-table {
    height: 400px;
    overflow: hidden;
}

/*
 * Solution CRUD
 */

 .edit-solution .panel-title,
 .view-solution .panel-title,
 .view-project .panel-title {
     font-size: inherit;
     font-weight: inherit;
 }

 .edit-solution .panel-title a:hover,
 .view-solution .panel-title a:hover,
 .view-project .panel-title a:hover {
    text-decoration: none;
    cursor: pointer;
}

.has-warning.help-block {
    color: #8a6d3b;
}

/*
 * Handsontable
 */

.handsontableInputHolder {
    z-index: 105;
}

.modal-content .autocompleteEditor {
    width: auto !important; /* horrible hack to work around drop-down table being cut off */
}

.handsontable td.htInvalid {
    background-color: #c9302c !important;
}

/*
 * User admin page
 */

.accounts-search {
    margin-top: 50px;
}

/*
 * Confirm/delete modals
 */

.full-screen-confirm .modal {
    position: inherit;
}

/*
 * 404
 */
 .page-not-found {
    padding-top: 20px;
}

/*
 * Project list
 */

.project-list .glyphicon {
    margin-right: 10px;
}

/*
 * Solution list
 */

.solutions-list {
    margin-top: 20px;
}

.solution-type {
    margin-right: 5px;
    font-size: 90%;
}

/*
 * Solution view
 */

.description {
    font-style: italic;
}

.view-solution .table {
    margin-top: 1em;
    margin-bottom: 1em;
}

.view-solution .label {
    cursor: pointer;
}

.simulation-controls {
    margin-top: 27px;
}

.simulation-controls .runs label {
    text-align: left;
}

.back-link {
    display: block;
}

.chart-tooltip {
    padding: 5px;
}

.chart-tooltip .tooltip-series {
    font-weight: bold;
}

.chart-tooltip .tooltip-value {
    margin-top: 5px;
    font-style: italic;
}

.chart-tooltip .tooltip-details {
    margin-top: 5px;
}

.chart-tooltip .tooltip-details ul  {
    padding-left: 20px;
    margin-bottom: 0;
}

/*
 * Project view
 */

.react-calendar-timeline .rct-sidebar .rct-sidebar-header {
    text-align: center;
    vertical-align: middle;
    color: black;
    background-color: white;
    font-weight: bold;
}

.react-calendar-timeline .rct-header .rct-label-group {
    color: black;
    background-color: white;
    font-weight: bold;
}

.react-calendar-timeline .rct-items .rct-item.percentile-10,
.react-calendar-timeline .rct-items .rct-item.percentile-9 {
    background-color: rgb(44, 160, 44);
}

.react-calendar-timeline .rct-items .rct-item.percentile-8 {
    background-color: rgb(31, 119, 180);
}

.react-calendar-timeline .rct-items .rct-item.percentile-7 {
    background-color: rgb(255, 127, 14);
}

.react-calendar-timeline .rct-items .rct-item.percentile-6,
.react-calendar-timeline .rct-items .rct-item.percentile-5,
.react-calendar-timeline .rct-items .rct-item.percentile-4,
.react-calendar-timeline .rct-items .rct-item.percentile-3,
.react-calendar-timeline .rct-items .rct-item.percentile-2,
.react-calendar-timeline .rct-items .rct-item.percentile-1,
.react-calendar-timeline .rct-items .rct-item.percentile-0 {
    background-color: rgb(214, 39, 40);
}

.react-calendar-timeline .rct-items .rct-item {
    background-color: rgb(31, 119, 180);
}

.project-plan-controls {
    margin: 1em 0;
    padding: 1em 0;
    border-top: solid #eee 1px;
    border-bottom: solid #eee 1px;
}

.project-plan-controls > span {
    display: inline-block;
    margin-right: 1em;
}

.project-plan-controls label {
    display: inline-block;
    vertical-align: top;
    margin-top: 0.5em;
    margin-right: 1em;
}

.project-plan-controls input {
    vertical-align: top;
    display: inline-block;
    width: inherit;
}

.project-plan-controls .Select {
    vertical-align: top;
    display: inline-block;
    min-width: 100px;
}

.project-resources .handsontable {
    height: 400px;
    overflow: hidden;
}

.project-resources .handsontable thead tr th.date-cell {
    height: 6.5em;
}

.project-resources .handsontable tr th {
    vertical-align: bottom;
    cursor: pointer;
}

.project-resources .handsontable thead tr th.date-cell > div {
    padding: 0 10px;
    transform: rotate(-90deg);
}

.project-resources .handsontable td.resource-table-header {
    font-weight: bold;
}

.Select-menu-outer {
    z-index: 500;
}