body {
    padding-top: 50px;
}


/*
 * Please wait view
 */

.please-wait .modal {
    position: inherit;
}

/*
 * Login page
 */

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}


.form-signin .form-signin-heading {
    text-align: center;
    margin-bottom: 20px;
}

.form-signin .form-control {
    position: relative;
    /*height: auto;*/
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin .form-group {
    margin-bottom: 5px;
}

.form-signin select {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin .form-group {
    margin-top: 10px;
    text-align: right;
}

/*
 * Home page
 */

.home-page {
    padding-top: 20px;
}

.project-list {
    padding-left: 0;
}

.project-list li {
    list-style: none;
    float: left;
    margin: 10px 10px 0 0;
    width: 220px;
    height: 105px;
}

.project-list > li > a {
    width: 220px;
    height: 105px;
    display: block;
    padding-bottom: 10px;
    text-align: left;
    overflow: hidden;
}

.project-list > li > a > span {
    padding: 0 0 5px 0;
    display: inline-block;
    text-align: left;
    white-space: normal;
}

.project-list > li > a > span > i {
    margin-right: 5px;
}

.project-list > li > a > small {
    display: block;
    text-align: left;
    white-space: normal;
}

/*
 * Project CRUD
 */

 .date-input input {
    max-width: 150px;
}

.data-table {
    width: 100%;
}
.data-table.large-table {
    height: 400px;
    overflow: hidden;
}

/*
 * Solution CRUD
 */

 .edit-solution .panel-title,
 .view-solution .panel-title {
     font-size: inherit;
     font-weight: inherit;
 }

 .edit-solution .panel-title a:hover,
 .view-solution .panel-title a:hover {
    text-decoration: none;
    cursor: pointer;
}

/*
 * Handsontable
 */

.handsontableInputHolder {
    z-index: 105;
}

.modal-content .autocompleteEditor {
    width: auto !important; /* horrible hack to work around drop-down table being cut off */
}

.handsontable td.htInvalid {
    background-color: #c9302c !important;
}

/*
 * User admin page
 */

.accounts-search {
    margin-top: 50px;
}

/*
 * Confirm/delete modals
 */

.full-screen-confirm .modal {
    position: inherit;
}

/*
 * 404
 */
 .page-not-found {
    padding-top: 20px;
}

/*
 * Project list
 */

.project-list .glyphicon {
    margin-right: 10px;
}

/*
 * Solution list
 */

.solutions-list {
    margin-top: 20px;
}

.solution-type {
    margin-right: 5px;
    font-size: 90%;
}

/*
 * Solution view
 */

.description {
    font-style: italic;
}

.view-solution .table {
    margin-top: 1em;
    margin-bottom: 1em;
}

.solution-forecast-tooltip .legend-color-guide {
    display: none !important;
}

.simulation-controls {
    margin-top: 27px;
}

.simulation-controls .runs label {
    text-align: left;
}

